.display {
  padding: 20px;
  min-width: 300px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 24px;
  background-color: #fff;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  transform: rotate(90deg);
  transform-origin: left top;
  font-family: "Bauhaus Lace Rnd Display", sans-serif;
  color: white; /* Set text color to white */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000; /* Black border */
  letter-spacing: -0.05em; /* Adjust tracking for tighter spacing */
}

/* Style for the letter elements */
.chopped {
  font-family: "Bauhaus Lace Rnd Display", sans-serif;
  font-size: 24px;
  color: white; /* Set text color to white */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000; /* Black border */
  letter-spacing: -0.05em; /* Adjust tracking for tighter spacing */
  transform: rotate(90deg); /* Rotate each letter 90 degrees clockwise */
  transform-origin: center; /* Rotate around the center for a consistent appearance */
}
