@font-face {
  font-family: "Aspekta Variable";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url("/fonts/AspektaVF.woff2") format("woff2");
}

:root {
  font-family: "Aspekta Variable", system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-weight: 532;

  color-scheme: light dark;
  color: rgb(0, 0, 0);
  background-color: #ffe8ef;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 532;
  color: #dbdbdb;
  text-decoration: inherit;
}
a:hover {
  color: #adadad;
}

h1 {
  font-weight: 532;
}

#init {
  font-size: 48px;
}

#init span {
  word-break: keep-all;
  white-space: nowrap;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#question {
  position: absolute;
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  z-index: -1;
  font-size: 20px;
}

.keyboard {
  display: flex;
  color: rgb(0, 0, 0);
}

.keyboard > div > button {
  background-color: transparent;
}

.keyboard-button {
  background-color: transparent;
  padding: 3px;

  font-size: 22px;
  border-radius: 8px;
  border: 1px solid transparent;
  font-weight: 532;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button {
  padding: 10px;
  border-radius: 28px;
  border: 6px solid rgba(0, 0, 0, 0.13);
  background-color: #fff;
  color: rgba(0, 0, 0, 0.65);
  font-size: 48px;
  font-weight: 532;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
#space {
  width: 6em !important;
  background-color: #343434;
  height: 1em;
  align-self: center;
  border-radius: 0.8em;
}

#end-page {
  width: 100vw;
  min-height: 100vh;
  background-color: #422700;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#end-page section {
  margin: 20px;
}

#end-page p {
  margin-bottom: 0;
}

#end-page p:not(:first-of-type) {
  margin-top: 0;
}

#end-lower article {
  margin-bottom: 2em;
}

.end-a {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media screen and (max-width: 1024px) {
  #submit {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 22px;
    border: 4px solid rgba(0, 0, 0, 0.13);
  }
}

@media screen and (min-width: 1024px) {
  #end-lower {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #end-lower article {
    width: 30%;
  }

  #end-upper {
    font-size: 48px;
  }

  #end-upper h1 {
    margin-bottom: 5px;
    margin-top: 0;
  }

  #end-upper p {
    margin-top: 0;
    font-weight: 532;
  }

  #question {
    font-size: 48px;
  }

  .keyboard {
    display: none;
  }
}
